@font-face {
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
